@media (min-width: @tablet-width) {
  .additions__wrapper {
    margin-bottom: 80px;
    /*padding: 0 30px 0 45px;*/
  }
}

@media (min-width: @desktop-width) {
  .additions__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.additions__title {
  margin-bottom: 25px;
  font-family: @oswald;
  font-size: 24px;
}

@media (min-width: @tablet-width) {
  .additions__title {
    margin-bottom: 70px;
    padding: 0 30px 0 45px;
    font-size: 36px;
  }
}

@media (min-width: @desktop-width) {
  .additions__title {
    padding: 0;
  }
}

.additions__list {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .additions__list {
    margin-bottom: 95px;
    padding: 0 30px 0 45px;
  }
}

@media (min-width: @desktop-width) {
  .additions__list {
    flex-basis: 75%;
    margin-bottom: 80px;
    padding: 0;
  }
}

.additions__item {
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  color: @grey;
}

@media (min-width: @tablet-width) {
  .additions__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
}

@media (min-width: @desktop-width) {
  .additions__item {
    flex-direction: row;
    align-items: baseline;
    max-width: 99%;
    margin-bottom: 20px;
  }
}

.additions__inner-wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .additions__inner-wrapper {
    flex-basis: 40%;
    justify-content: flex-end;
    margin: 33px 0 0;
  }
}

@media (min-width: @desktop-width) {
  .additions__inner-wrapper {
    flex-basis: 50%;
    justify-content: space-between;
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .additions__wrapper-tablet {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .additions__wrapper-tablet {
    flex-basis: 68%;
    padding-top: 20px;
  }
}

.additions__field {
  margin: 15px 0;
  font-family: @oswald;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: @black1;
}

@media (min-width: @tablet-width) {
  .additions__field {
    margin: 30px 0 25px 0;
    flex-basis: 50%;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .additions__field {
    margin: 0;
  }
}

.additions__volume {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .additions__volume {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media (min-width: @desktop-width) {
  .additions__volume {
    margin: 0;
  }
}

.additions__value {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .additions__value {
    margin-left: 50px;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media (min-width: @desktop-width) {
  .additions__value {
    margin: 0;
  }
}

.additions__button {
  width: 100%;
  padding: 10px 0;
  border: none;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  text-transform: uppercase;
  color: #ffffff;
  background-color: @green;
}

@media (min-width: @desktop-width) {
  .additions__button {
    width: 245px;
  }
}

.additions__gift {
  position: relative;
  min-height: 289px;
  margin-bottom: 40px;
  color: #ffffff;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 40%;
    width: 56px;
    height: 61px;
    background: url("../img/gift-svg.png") no-repeat;
    background-size: contain;
  }
}

@media (min-width: @tablet-width) {
  .additions__gift {
    min-height: 200px;
    margin-bottom: 80px;
    padding: 0;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    &::after {
      top: 30%;
      left: 14%;
    }
  }
}

@media (min-width: @desktop-width) {
  .additions__gift {
    width: 245px;
    height: 289px;
    margin: 0;
    padding: 0;
    background-size: 245px 289px;

    &::after {
      top: 20%;
      left: 40%;
    }
  }
}

.additions__gift-text {
  margin: 0;
  padding: 190px 80px 0;
  line-height: 1.25;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .additions__gift-text {
    padding: 75px 125px 69px 424px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .additions__gift-text {
    padding: 185px 10px 20px 30px;
  }
}
