@media (min-width: @desktop-width) {
  .additions__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.additions__title {
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
}

@media (min-width: @tablet-width) {
  .additions__title {
    font-size: 36px;
  }
}

.additions__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additions__item {
  line-height: 1.25;
  color: @grey;
}

@media (min-width: @desktop-width) {
  .additions__item {
    display: flex;
    justify-content: space-between;
  }
}

.additions__inner-wrapper {
  display: flex;
  justify-content: space-between;
}

.additions__wrapper-tablet {
  display: flex;
  justify-content: space-between;
}

.additions__field {
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: @black1;
}

@media (min-width: @tablet-width) {
  .additions__field {
    font-size: 20px;
  }
}

.additions__volume {
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .additions__volume {
    font-size: 16px;
    line-height: 1.25;
  }
}

.additions__value {
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .additions__value {
    font-size: 16px;
    line-height: 1.25;
  }
}

.additions__button {
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  text-transform: uppercase;
  color: #ffffff;
  background-color: @green;
}

@media (min-width: @desktop-width) {
  .additions__button {
    width: 245px;
  }
}

.additions__gift {
  line-height: 1.25;
  color: #ffffff;
  background-color: @green;/* временно*/
}
