.benefits__list {
  list-style: none;
}

.benefits__title {
  font-size: 60px;
}

.benefits__item {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;

  color: #444444;
}