.catalog__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.67;
}

@media (min-width: @tablet-width) {
  .catalog__title {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: @desktop-width) {
  .catalog__title {
    margin-bottom: 90px;
  }
}

.catalog-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .catalog-list {
    min-height: 1005px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list {
    margin-bottom: 10px;
  }
}

.catalog__wrapper {
  display: flex;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.catalog-list__item {
  margin-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .catalog-list__item {
    position: relative;
    width: 324px;
    min-height: 431px;
    margin: 80px 0 60px 0;
    background-color: #f2f2f2;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list__item {
    width: 245px;
    padding: 0 35px;
    box-sizing: border-box;
  }
}

.catalog-list__title {
  display: block;
  margin-bottom: 10px;
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  text-align: left;
  font-weight: normal;
  line-height: 1.25;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .catalog-list__title {
    width: 80%;
    margin-bottom: 17px;
    padding-left: 55px;
    font-size: 20px;
    text-align: center;
    line-height: 1;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list__title {
    width: 100%;
    padding: 0 30px;
  }
}

.catalog-list__img {
  padding-right: 40px;
}

@media (min-width: @tablet-width) {
  .catalog-list__img {
    position: absolute;
    left: 1px;
    object-fit: contain;

    &--small {
      top: -45px;
    }

    &--big {
      top: -80px;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog-list__img {
    position: absolute;
    left: 1px;
    object-fit: contain;

    &--small {
      top: -50px;
    }

    &--big {
      top: -85px;
    }
  }
}

.catalog-list__table {
  padding-top: 20px;
  border-spacing: 1px;
}

@media (min-width: @tablet-width) {
  .catalog-list__table {
    max-width: 100%;
    padding: 160px 38px 5px;
    border-spacing: 7px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list__table {
    max-width: 100%;
    padding: 152px 0 0;
  }
}

.catalog-list__field {
  font-size: 12px;
  line-height: 1.33;
  color: @grey;
}

@media (min-width: @tablet-width) {
  .catalog-list__field {
    margin-bottom: 17px;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list__field {
    max-width: 50px;
  }
}

.catalog-list__value {
  font-size: 12px;
  line-height: 1.33;
  text-align: right;
  color: @grey;
}

@media (min-width: @tablet-width) {
  .catalog-list__value {
    font-size: 16px;
  }
}

.catalog-list__button {
  width: 100%;
  padding: 10px 0;
  border: none;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: @green;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: @tablet-width) {
  .catalog-list__button {
    width: 78%;
    margin: 25px 38px 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list__button {
    width: 100%;
    margin: 35px 0 0;
  }
}
