.catalog-list {
  list-style: none;
}

.catalog-list__item {
  background-color: #f2f2f2;
}

.catalog-list__title {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.catalog-list__field {
  color: @grey;
}

.catalog-list__value {
  text-align: right;
  color: @grey;
}

.catalog-list__button {
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
}
