.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: @mobile-width;
  width: 99%;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .container {
    padding: 0 30px;
    max-width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .container {
    padding: 0 110px;
    max-width: 1440px;
  }
}

@media (min-width: @tablet-width) {
  .inner-wrapper {
    padding: 0 0 0 110px;
  }
}

@media (min-width: @desktop-width) {
  .inner-wrapper {
    padding: 0 0 0 190px;
  }
}
