.form-main {
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
}

.form__title {
  font-size: 36px;
  line-height: 1.67;
}

@media (min-width: @tablet-width) {
  .form__title {
    font-size: 60px;
    line-height: 1;
  }
}

.form__action {
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .form__action {
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__input-label {
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .form__input-label {
    font-size: 20px;
    line-height: 1;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 1;
}

@media (min-width: @tablet-width) {
  .form__legend {
    font-size: 36px;
  }
}

.form__button {
  font-size: 16px;
  line-height: 1.25;
}

.form-required {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}
