.options__title  { 
  font-size: 36px;  
  line-height: 1.03; 
  text-align: left;

  text-transform: uppercase;  
}

.options__description {
  font-family: Arial, sans-serif;
  font-size: 16px;  
  line-height: 1.5; 
  text-align: left;
  color: #444444;
}

.options__link {
  font-size: 20px;
  text-transform: uppercase;  
}

.options ul {
  list-style: none;
}