.options__description {
  line-height: 1.5;
  color: #444444;
}

.options__link {
  font-size: 20px;
  text-transform: uppercase;
}

.options ul {
  list-style: none;
}

.options__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.options__item {
  margin-top: 20px;
  background-color: #f2f2f2;
}

.options__title {
  padding-top: 29px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.54;
  text-transform: uppercase;
  color: @black1;
}

.options__description {
  margin: 36px 35px 23px 21px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
}

.options__link {
  display: block;
  margin-top: 20px;
  margin-bottom: 22px;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  color: @black1;
}
