.others__title {
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .others__title {
    font-size: 20px;
  }
}

.others__description {
  font-size: 12px;
  line-height: 1.33;
}

@media (min-width: @tablet-width) {
  .others__description {
    font-size: 16px;
  }
}


.others__link {
  display: block;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  text-decoration: none;
  color: #444444;
  background-color: #f2f2f2;
}


/*.others__title {
  font-size: 20px;
  text-align: center;
}

.others__description {
  text-align: center;
  color: #444444;
}

*/
