.others {
  margin-bottom: 25px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  width: 245px;
  min-height: 210px;
  box-sizing: border-box;
  justify-content: space-around;
  text-align: center;
}

.others__title {
  margin-bottom: 11px;
  padding-top: 82px;
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .others__title {
    font-size: 20px;
  }
}

.others__description {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 1.33;
}

@media (min-width: @tablet-width) {
  .others__description {
    font-size: 16px;
  }
}

.others__link {
  display: block;
  padding: 10px 0;
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  background-color: #f2f2f2;
}


/*.others__title {
  font-size: 20px;
  text-align: center;
}

.others__description {
  text-align: center;
  color: #444444;
}

*/
