.page-header {
  width: 100%;
}

.page-header__wrapper {
  box-sizing: border-box;
  width: 320px;
  position: relative;
  background-color: @white;
  color: @grey;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page-header__logo {
  padding: 11px 109px 15px 20px;
}

.header-nav__list {  
  list-style: none;
}
