.page-main {
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  color: @white;
}

.page-main__wrapper {
  min-width: 320px;
}

.page-main__container { 
  min-height: 305px;
  background-image: url("../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.page-main__title {
  font-size: 36px;
}

.page-main__slogan {
  font-size: 14px;
  text-transform: uppercase;
}

.page-main__link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @green;
}
