.page-main {
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  text-align: center;
  color: @white;
}

@media (min-width: @tablet-width) {
  .page-main {
    text-align: left;
    color: @black1;
  }

  .page-main__wrapper {
    margin-left: 120px; 
  }
}

.page-main__container {
  width: 100%;
  min-height: 305px;
  background: url("../img/index-background-mobile.jpg") no-repeat;
  background-size: cover;
}

@media (min-width: @tablet-width) {
  .page-main__container {
    background: none;
    background-color: @white;
  }
}

.page-main__title {
  margin: 0;
  padding: 29px 35px 19px 36px;
  font-size: 36px;
  line-height: 1;
  font-weight: normal;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    padding: 0;
    padding-top: 68px;
    padding-right: 208px;
    padding-bottom: 33px;
    font-size: 60px;
    line-height: 1;   
  }
}

/*@media (min-width: @desktop-width) {
  .page-main__title {    
    padding-right: 208px;      
  }
}*/

.page-main__slogan {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .page-main__slogan {
    margin: 0;
    font-size: 20px;
    line-height: 1;   
  }
}

.page-main__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: @white;
  background-color: @green;
}

@media (min-width: @tablet-width) {
  .page-main__link {
    display: inline-block;
    padding-top: 17px;
    padding-right: 29px;
    padding-bottom: 15px;
    padding-left: 26px;
    font-size: 20px;
    line-height: 1;    
  }
}

/*.page-main__logo-image {
  position: absolute;
  top: 450px;
  left: 70px;
}*/

.page-main__container-mobile {
  margin: 0 20px;
}
