.sample {
  text-align: left;
  background-color: #f2f2f2;
  color: @black1;
}

@media (min-width: @tablet-width) {
  .sample {
    background-color: white;
  }
}

@media (min-width: @desktop-width) {
  .sample {
    display: flex;
    margin-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .sample__wrapper,
  .sample__auxiliary {
    flex-basis: 50%;
  }
}

.sample__title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 20px;
  font-size: 36px;
  line-height: 1.67;
  color: @black1;
}

@media (min-width: @tablet-width) {
  .sample__title {
    margin-bottom: 65px;
    padding: 0;
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: @desktop-width) {
  .sample__title {
    margin-bottom: 66px;
  }
}

@media (min-width: @tablet-width) {
  .sample__container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .sample__container {
    flex-direction: column;
    background-color: #eaeaea;
  }
}

.sample__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  width: 280px;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .sample__list {
    min-width: 366px;
    margin-bottom: 90px;
  }
}

@media (min-width: @desktop-width) {
  .sample__list {
    margin-bottom: 20px;
  }
}

.sample__description {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 10px 0 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .sample__description {
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: @desktop-width) {
  .sample__description {
    margin-bottom: 71px;
    padding: 76px 139px 0 0;
  }
}

.sample__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 124px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

@media (min-width: @tablet-width) {
  .sample__item {
    width: 162px;
  }
}

.sample__value {
  display: block;
  padding: 5px 0 15px;
  margin: 0;
  font-family: @main-font;
  font-size: 24px;
}

@media (min-width: @tablet-width) {
  .sample__value {
    padding-top: 15px;
    font-size: 30px;
    line-height: 1.23;
  }
}

.sample__field {
  content: "";
  margin-top: 45px;
  left: 22px;
  position: absolute;
  width: 80px;
  display: block;
  font-family: @second-font;
  font-size: 12px;
  text-transform: lowercase;
  background-color: #f2f2f2;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .sample__field {
    left: 0;
    margin-top: 60px;
    width: 160px;
    font-size: 14px;
    background-color: white;
  }
}

.sample__costs {
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 1.43px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .sample__costs {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .sample__costs {
    padding-top: 49px;
    padding-bottom: 75px;
    text-align: left;
  }
}

.sample__picture-image {
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .sample__picture-image {
    width: 636px;
    height: 517px;
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .sample__picture-image {
    position: absolute;
    bottom: -1180px;
    right: 120px;
  }
}

.sample__controls {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
  margin: 0 auto;
  width: 203px;
}

@media (min-width: @tablet-width) {
  .sample__controls {
    padding-bottom: 81px;
    width: 80%;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .sample__controls {
    margin: 495px 0 0;
    padding-left: 23px;
    width: 90%;
  }
}

.sample__controls-before {
  text-transform: uppercase;
  padding-left: 5px;
}

.sample__controls-after {
  padding-left: 5px;
  text-transform: uppercase;
}

.sample__controls-slider {
  position: relative;
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  margin-top: 3px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}

.sample__controls-slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 10px;
}

@media (min-width: @tablet-width) {
  .sample__controls-slider {
    width: 428px;
    height: 6px;
  }
}
