.sample {
  text-align: left;
  background-color: #f2f2f2;
  color: @black1;
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .sample {
    background-color: white;
  }
}

@media (min-width: @desktop-width) {
  .sample {
    display: flex;
    background-color: #eaeaea;
  }
}

.sample__wrapper {
  margin: 0 auto;
}

.sample__title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 20px;
  font-size: 36px;
  line-height: 1.67;
  color: @black1;
}

@media (min-width: @tablet-width) {
  .sample__title {
    margin-bottom: 65px;
    padding-top: 0;
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: @desktop-width) {
  .sample__wrapper {
    margin: 0 auto 0 110px;
  }
}

@media (min-width: @desktop-width) {
  .sample__title {
    margin-bottom: 66px;
    padding: 0;
  }
}

@media (min-width: @tablet-width) {
  .sample__container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .sample__container {
    flex-direction: column;
    padding: 0;
    background-color: #eaeaea;
  }
}

.sample__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  width: 280px;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .sample__list {
    min-width: 366px;
    /*margin-bottom: 250px;*/
  }
}

@media (min-width: @desktop-width) {
  .sample__list {
    margin-bottom: 20px;
  }
}

.sample__description {
  /*margin: 0;*/
  margin-bottom: 24px;
  /*padding: 0 10px 0 0;*/
  font-family: @arial;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .sample__description {
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: @desktop-width) {
  .sample__description {
    margin-bottom: 71px;
    padding: 76px 0 0;
  }
}

.sample__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 124px;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

@media (min-width: @tablet-width) {
  .sample__item {
    width: 162px;
  }
}

.sample__value {
  display: block;
  padding: 5px 0 15px;
  margin: 0;
  font-family: @oswald;
  font-size: 24px;
}

@media (min-width: @tablet-width) {
  .sample__value {
    padding-top: 15px;
    font-size: 30px;
    line-height: 1.23;
  }
}

.sample__field {
  content: "";
  margin-top: 45px;
  left: 22px;
  position: absolute;
  width: 80px;
  display: block;
  font-family: @arial;
  font-size: 12px;
  text-transform: lowercase;
  background-color: #f2f2f2;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .sample__field {
    left: 0;
    margin-top: 60px;
    width: 160px;
    font-size: 14px;
    background-color: white;
  }
}

@media (min-width: @desktop-width) {
  .sample__field {
    background-color: inherit;
  }
}

.sample__costs {
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 1.43px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .sample__costs {
    margin: 0;
    padding: 0;
    /*padding-top: 20px;*/
    font-size: 20px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .sample__costs {
    display: flex;
    padding-top: 30px;
    padding-bottom: 65px;
    text-align: left;
  }
}

@media (min-width: @tablet-width) {
  .sample__costs-pay {
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .sample__costs-pay {
    margin-right: 64px;
  }
}

.sample__auxiliary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .sample__auxiliary {
    justify-content: flex-end;
    height: 460px;
    margin-top: 216px;
    margin-bottom: 10px;
    background-color: #eaeaea;
  }
}

@media (min-width: @desktop-width) {
  .sample__auxiliary {
    max-width: 636px;
    margin-top: 130px;
    margin-bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .sample__picture {
    display: flex;
    width: 636px;
    height: 517px;
    overflow: hidden;
  }
}

@media (min-width: @desktop-width) {
  .sample__wrapper {
    max-width: 430px;
  }
}

@media (min-width: @tablet-width) {
  .sample__picture-wrapper {
    /*display: flex;
    flex-direction: column;*/
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 517px;
    overflow: hidden;

    &--before {
      top: 2958px;
      left: 55px;
      background-image: url("../img/before-tablet@1x.png");
      /*background: linear-gradient(to bottom, #ffffff 33%, #eaeaea 33%, #eaeaea 100%);*/
      background-position: -10px 1px, 0 0;
      z-index: 10;
    }

    &--after {
      top: 2955px;
      right: -35px;
      background-image: url("../img/after-tablet@1x.png");
      /*background: linear-gradient(to bottom, #ffffff 33%, #eaeaea 33%, #eaeaea 100%);*/
      background-position: -365px 6px, 0 0;
      z-index: 10;
    }
  }
}

@media (min-width: @desktop-width) {
  .sample__picture-wrapper {
    &--before {
      top: 1600px;
      left: 680px;
      width: 365px;
      /*background: linear-gradient(to bottom, #ffffff 33%, #eaeaea 33%, #eaeaea 100%);*/
      background-position: -1px 6px, 0 0;
      /*z-index: 10;*/
    }

    &--after {
      top: 1600px;
      right: 115px;
      width: 271px;
      /*background: linear-gradient(to bottom, #ffffff 33%, #eaeaea 33%, #eaeaea 100%);*/
      background-position: -365px 6px, 0 0;
      z-index: 10;
    }
  }
}

.sample__picture-image {
  display: block;
  margin-bottom: 35px;
}

.sample__picture-image--after {
  display: none;
}

@media (min-width: @tablet-width) {
  .sample__picture-image {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .sample__picture-image {
    /*position: absolute;*/
    top: 1620px;
    left: 680px;
  }
}

.sample__controls {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
  margin: 0 auto;
  width: 203px;
}

@media (min-width: @tablet-width) {
  .sample__controls {
    padding-top: 10px;
    padding-bottom: 71px;
    width: 78%;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .sample__controls {
    /*margin: 495px 0 0;*/
    padding-bottom: 65px;
    padding-left: 35px;
    width: 90%;
  }
}

.sample__controls-before {
  text-transform: uppercase;
  padding-left: 5px;
}

.sample__controls-after {
  padding-left: 5px;
  text-transform: uppercase;
}

.sample__controls-slider {
  position: relative;
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  margin-top: 3px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    margin-top: 10px;
  }
}

.sample__controls-slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 10px;
}

@media (min-width: @tablet-width) {
  .sample__controls-slider {
    width: 428px;
    height: 6px;
  }
}
