.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__item {
  font-family: "Oswald", "Arial", sans-serif;
    
  border-bottom: 1px solid lightgrey;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    font-size: 18px;
    font-weight: normal;  
    line-height: 1.39; 
    text-align: left;    
    border: none;
  }

  &--active {
    border-bottom: 2px solid @green;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item {
    font-size: 20px;
    line-height: 1.25px;
    
  }
}

.site-list__link {
  padding: 24px 0;
  display: block; 
   
  text-decoration: none;
  text-transform: uppercase;  

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .site-list__link {
    padding: 23px 0 21px;     

    &--active {      
      border-bottom: 2px solid @green;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    padding: 24px 0 19px;
    color: #ffffff;   
    background: @green;

    &--active {
      border-bottom: 2px solid #ffffff;
    }
  }
}
