.site-list {
  display: flex;
  flex-direction: column;
}

.site-list__link {
  display: block;  
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;

  text-decoration: none;
  text-transform: uppercase;
  color: @black1;
  }
