.social {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 22px 82px 21px 73px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .social {
    border: none;
  }
}

.social__button {
  display: block;
  width: 30px;
  height: 30px;
  outline: 1px solid red; /*временно*/
}
