.container {
  margin: 0 auto;
  padding: 0 20px;
  /*max-width: @mobile-width;*/
  width: 96%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
@media (min-width: 768px) {
  .container {
    padding: 0 25px;
  }
}
@media (min-width: 1268px) {
  .container {
    padding: 0 110px;
    max-width: 1440px;
  }
}
@media (min-width: 768px) {
  .inner-wrapper {
    padding: 0 0 0 118px;
  }
}
@media (min-width: 1268px) {
  .inner-wrapper {
    padding: 0 0 0 190px;
  }
}
.wrapper {
  overflow: hidden;
}
.button {
  width: 80%;
  padding: 11px 10%;
  font-family: "oswald", "helvetica", "Arial", sans-serif;
  color: #ffffff;
  border: none;
  background-color: #68b738;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 768px) {
  .button {
    width: 195px;
    padding: 17px 25px 15px;
  }
}
.button:hover,
.button:focus {
  background-color: #5eaa2f;
}
.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
.button--grey {
  background-color: #f2f2f2;
}
.button--grey:hover,
.button--grey:focus {
  background-color: #ebebeb;
}
.button--grey:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  text-align: left;
}
img {
  max-width: 100%;
  /*height: auto;*/
}
h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: 768px) {
  .additions__wrapper {
    margin-bottom: 80px;
    /*padding: 0 30px 0 45px;*/
  }
}
@media (min-width: 1268px) {
  .additions__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
  }
}
.additions__title {
  margin-bottom: 25px;
  font-family: "oswald", "helvetica", "Arial", sans-serif;
  font-size: 24px;
}
@media (min-width: 768px) {
  .additions__title {
    margin-bottom: 70px;
    padding: 0 30px 0 45px;
    font-size: 36px;
  }
}
@media (min-width: 1268px) {
  .additions__title {
    padding: 0;
  }
}
.additions__list {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .additions__list {
    margin-bottom: 95px;
    padding: 0 30px 0 45px;
  }
}
@media (min-width: 1268px) {
  .additions__list {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    margin-bottom: 80px;
    padding: 0;
  }
}
.additions__item {
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.25;
  color: #444444;
}
@media (min-width: 768px) {
  .additions__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px;
  }
}
@media (min-width: 1268px) {
  .additions__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    max-width: 99%;
    margin-bottom: 20px;
  }
}
.additions__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .additions__inner-wrapper {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 33px 0 0;
  }
}
@media (min-width: 1268px) {
  .additions__inner-wrapper {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .additions__wrapper-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1268px) {
  .additions__wrapper-tablet {
    -ms-flex-preferred-size: 68%;
        flex-basis: 68%;
    padding-top: 20px;
  }
}
.additions__field {
  margin: 15px 0;
  font-family: "oswald", "helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .additions__field {
    margin: 30px 0 25px 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    font-size: 20px;
  }
}
@media (min-width: 1268px) {
  .additions__field {
    margin: 0;
  }
}
.additions__volume {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .additions__volume {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (min-width: 1268px) {
  .additions__volume {
    margin: 0;
  }
}
.additions__value {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .additions__value {
    margin-left: 50px;
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (min-width: 1268px) {
  .additions__value {
    margin: 0;
  }
}
.additions__button {
  width: 100%;
  padding: 10px 0;
  border: none;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}
@media (min-width: 1268px) {
  .additions__button {
    width: 245px;
  }
}
.additions__gift {
  position: relative;
  min-height: 289px;
  margin-bottom: 40px;
  color: #ffffff;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.additions__gift::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 40%;
  width: 56px;
  height: 61px;
  background: url("../img/gift-svg.png") no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .additions__gift {
    min-height: 200px;
    margin-bottom: 80px;
    padding: 0;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }
  .additions__gift::after {
    top: 30%;
    left: 14%;
  }
}
@media (min-width: 1268px) {
  .additions__gift {
    width: 245px;
    height: 289px;
    margin: 0;
    padding: 0;
    background-size: 245px 289px;
  }
  .additions__gift::after {
    top: 20%;
    left: 40%;
  }
}
.additions__gift-text {
  margin: 0;
  padding: 190px 80px 0;
  line-height: 1.25;
  text-align: center;
}
@media (min-width: 768px) {
  .additions__gift-text {
    padding: 75px 125px 69px 424px;
    text-align: left;
  }
}
@media (min-width: 1268px) {
  .additions__gift-text {
    padding: 185px 10px 20px 30px;
  }
}
.benefits {
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  .benefits {
    margin-bottom: 40px;
    border-bottom: 1px solid #f2f2f2;
  }
}
@media (min-width: 1268px) {
  .benefits {
    margin-bottom: 138px;
    border-bottom: none;
  }
}
.benefits__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 80px;
}
@media (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
    padding: 0  104px 0 0;
  }
}
@media (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
}
.benefits__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 1.67;
  text-align: left;
  color: #111111;
}
@media (min-width: 768px) {
  .benefits__title {
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 60px;
    line-height: 1;
  }
}
.benefits__item {
  position: relative;
  z-index: 1;
  min-height: 48px;
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #444444;
}
.benefits__item::after {
  content: "";
  position: absolute;
  -ms-flex-item-align: start;
      align-self: start;
  top: -5px;
  left: -80px;
  z-index: 1;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px auto;
  background-color: #68b738;
}
.benefits__item--nutrients::after {
  background-image: url("../img/advantage-leaf@1x.png");
}
.benefits__item--form::after {
  background-image: url("../img/advantage-powder@1x.png");
}
.benefits__item--intake::after {
  background-image: url("../img/advantage-dining@1x.png");
}
.benefits__item--changes::after {
  background-image: url("../img/advantage-clock@1x.png");
}
@media (min-width: 768px) {
  .benefits__item {
    width: 236px;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 105px;
    padding-top: 105px;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.5;
  }
  .benefits__item::after {
    content: "";
    position: absolute;
    left: 0;
    margin-bottom: 37px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px auto;
  }
  .benefits__item::before {
    position: absolute;
    z-index: 1;
    font-family: "oswald", "helvetica", "Arial", sans-serif;
    font-size: 281px;
    color: #f2f2f2;
  }
  .benefits__item--nutrients,
  .benefits__item--intake {
    margin-right: 150px;
  }
  .benefits__item--nutrients::before {
    content: "1";
    top: -113px;
    right: 2px;
  }
  .benefits__item--form::before {
    content: "2";
    top: -113px;
    right: 2px;
  }
  .benefits__item--intake::before {
    content: "3";
    top: -113px;
    right: 2px;
  }
  .benefits__item--changes::before {
    content: "4";
    top: -113px;
    right: 2px;
  }
}
@media (min-width: 1268px) {
  .benefits__item {
    margin-top: 25px;
    margin-bottom: 0;
  }
  .benefits__item--nutrients,
  .benefits__item--intake {
    margin-right: 0;
  }
  .benefits__item::after {
    content: "";
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.benefits__description {
  position: relative;
  margin: 0;
  z-index: 2;
}
.catalog__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "oswald", "helvetica", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.67;
}
@media (min-width: 768px) {
  .catalog__title {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 60px;
    line-height: 1;
  }
}
@media (min-width: 1268px) {
  .catalog__title {
    margin-bottom: 90px;
  }
}
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .catalog-list {
    min-height: 1005px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
}
@media (min-width: 1268px) {
  .catalog-list {
    margin-bottom: 10px;
  }
}
.catalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.catalog-list__item {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .catalog-list__item {
    position: relative;
    width: 324px;
    min-height: 431px;
    margin: 80px 0 60px 0;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1268px) {
  .catalog-list__item {
    width: 245px;
    padding: 0 35px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.catalog-list__title {
  display: block;
  margin-bottom: 10px;
  font-family: "oswald", "helvetica", "Arial", sans-serif;
  text-align: left;
  font-weight: normal;
  line-height: 1.25;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-list__title {
    width: 80%;
    margin-bottom: 17px;
    padding-left: 55px;
    font-size: 20px;
    text-align: center;
    line-height: 1;
  }
}
@media (min-width: 1268px) {
  .catalog-list__title {
    width: 100%;
    padding: 0 30px;
  }
}
.catalog-list__img {
  padding-right: 40px;
}
@media (min-width: 768px) {
  .catalog-list__img {
    position: absolute;
    left: 1px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .catalog-list__img--small {
    top: -45px;
  }
  .catalog-list__img--big {
    top: -80px;
  }
}
@media (min-width: 1268px) {
  .catalog-list__img {
    position: absolute;
    left: 1px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .catalog-list__img--small {
    top: -50px;
  }
  .catalog-list__img--big {
    top: -85px;
  }
}
.catalog-list__table {
  padding-top: 20px;
  border-spacing: 1px;
}
@media (min-width: 768px) {
  .catalog-list__table {
    max-width: 100%;
    padding: 160px 38px 5px;
    border-spacing: 7px;
  }
}
@media (min-width: 1268px) {
  .catalog-list__table {
    max-width: 100%;
    padding: 152px 0 0;
  }
}
.catalog-list__field {
  font-size: 12px;
  line-height: 1.33;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog-list__field {
    margin-bottom: 17px;
    font-size: 16px;
  }
}
@media (min-width: 1268px) {
  .catalog-list__field {
    max-width: 50px;
  }
}
.catalog-list__value {
  font-size: 12px;
  line-height: 1.33;
  text-align: right;
  color: #444444;
}
@media (min-width: 768px) {
  .catalog-list__value {
    font-size: 16px;
  }
}
.catalog-list__button {
  width: 100%;
  padding: 10px 0;
  border: none;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
}
.catalog-list__button:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .catalog-list__button {
    width: 78%;
    margin: 25px 38px 0;
  }
}
@media (min-width: 1268px) {
  .catalog-list__button {
    width: 100%;
    margin: 35px 0 0;
  }
}
.developer {
  position: relative;
  padding: 30px 0;
}
.developer::after {
  content: "";
  position: absolute;
  bottom: 25px;
  right: 5px;
  width: 27px;
  height: 34px;
  background: url("../img/htmlacademy-svg.svg") no-repeat center;
  cursor: pointer;
}
.developer::after:hover,
.developer::after:focus {
  color: #68b738;
}
.developer::after:active {
  opacity: 0.3;
}
.developer__academy {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-align: right;
  text-decoration: none;
  color: #444444;
}
.developer__academy:active {
  color: rgba(68, 68, 68, 0.3);
}
@media (min-width: 768px) {
  .developer {
    width: 164px;
    padding: 0;
  }
  .developer::after {
    bottom: 0;
    right: 0;
  }
}
.form-main {
  margin-bottom: 35px;
  font-family: "oswald", "helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
}
@media (min-width: 768px) {
  .form-main {
    margin-bottom: 80px;
  }
}
@media (min-width: 768px) {
  .form-main__wrapper {
    padding: 0 41px;
    font-size: 20px;
    line-height: 1.5;
  }
}
@media (min-width: 1268px) {
  .form-main__wrapper {
    padding: 0;
  }
}
.form-main__title {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 1.67;
}
@media (min-width: 768px) {
  .form-main__title {
    margin-bottom: 50px;
    font-size: 60px;
    line-height: 1;
  }
}
@media (min-width: 1268px) {
  .form-main__title {
    margin-bottom: 55px;
  }
}
fieldset {
  padding: 0;
  border: none;
}
.form-main__action {
  margin-bottom: 40px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-main__action {
    width: 330px;
    margin-bottom: 69px;
    font-size: 20px;
    line-height: 1.5;
  }
}
.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1268px) {
  .form__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5px;
  }
}
.form__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .form__input-wrapper {
    margin-bottom: 69px;
  }
}
@media (min-width: 1268px) {
  .form__input-wrapper {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
    margin-right: 100px;
    margin-bottom: 35px;
  }
}
.form__input-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__input-label {
    margin-bottom: 24px;
  }
}
.form__input,
.form__contact {
  padding: 11px 14px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "oswald", "helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #cdcdcd;
  /*&:invalid {
    border: solid 2px #ff8282;
  }*/
}
.form__input:hover,
.form__contact:hover {
  border: solid 1px #cdcdcd;
}
.form__input:focus,
.form__contact:focus {
  border: solid 2px #444444;
}
@media (min-width: 768px) {
  .form__input,
  .form__contact {
    padding: 14px 25px;
  }
}
.form__text {
  display: inline-block;
  margin-right: 15px;
}
.form__radio-wrapper {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .form__radio-wrapper {
    margin-bottom: 90px;
  }
}
@media (min-width: 1268px) {
  .form__radio-wrapper {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}
.form__radio {
  border: solid 1px black;
  display: none;
}
.form__radio-label {
  position: relative;
  margin-bottom: 16px;
  padding-top: 7px;
  padding-left: 46px;
  text-transform: uppercase;
  cursor: pointer;
}
.form__radio-label:active {
  color: rgba(0, 0, 0, 0.3);
}
.form__radio-label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -5px;
  width: 30px;
  height: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}
.form__radio-label:hover::before,
.form__radio-label :focus::before {
  border: solid 1px #bababa;
}
.form__radio-label:active::before {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .form__radio-label {
    margin-bottom: 15px;
    padding-left: 85px;
  }
  .form__radio-label::before {
    width: 40px;
    height: 40px;
    top: 1px;
    left: 30px;
  }
}
@media (min-width: 1268px) {
  .form__radio-label {
    margin-top: 25px;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 10px;
  }
  .form__radio-label::before {
    width: 40px;
    height: 40px;
    top: -5px;
    left: -45px;
  }
}
input[type="radio"]:checked + .form__radio-label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  input[type="radio"]:checked + .form__radio-label::after {
    left: 42px;
    top: 13px;
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 1268px) {
  input[type="radio"]:checked + .form__radio-label::after {
    left: -33px;
    top: 7px;
  }
}
.form__contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .form__contact-wrapper {
    margin-bottom: 35px;
  }
}
@media (min-width: 1268px) {
  .form__contact-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }
  .form__input-label--contact {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
  }
}
/*.form__email {
  position: absolute;
  top: 31px;
  left: 265px;
  fill: @black;
}*/
.form__legend {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1;
}
.form__legend--adds {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .form__legend {
    margin-bottom: 80px;
    font-size: 36px;
  }
  .form__legend--adds {
    margin-bottom: 60px;
  }
}
.form__textarea {
  width: 100%;
  min-height: 150px;
  margin-bottom: 27px;
  resize: vertical;
}
@media (min-width: 768px) {
  .form__textarea {
    margin-bottom: 75px;
  }
}
.form__additions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .form__additions-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }
}
@media (min-width: 1268px) {
  .form__additions-wrapper {
    max-width: 92%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 85px;
  }
}
.form__additions-label {
  position: relative;
  display: block;
  height: 14px;
  margin-left: 30px;
  padding-bottom: 28px;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 768px) {
  .form__additions-label {
    padding-left: 15px;
    padding-right: 105px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1268px) {
  .form__additions-label {
    padding: 0 0 0 13px;
  }
}
.form__checkbox {
  display: none;
}
input[type="checkbox"] + .form__additions-label::before {
  content: "";
  position: absolute;
  left: -32px;
  top: -4px;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  input[type="checkbox"] + .form__additions-label::before {
    left: -30px;
    top: -1px;
    width: 40px;
    height: 40px;
  }
}
input[type="checkbox"]:checked + .form__additions-label::after {
  content: "";
  position: absolute;
  left: -27px;
  top: 3px;
  width: 22px;
  height: 17px;
  background: url("../img/tick-svg.png") no-repeat;
}
@media (min-width: 768px) {
  input[type="checkbox"]:checked + .form__additions-label::after {
    left: -20px;
    top: 10px;
  }
}
input[type="checkbox"] + .form__additions-label:hover::before,
input[type="checkbox"]:focus + .form__additions-label::before {
  border-color: #68b738;
}
input[type="checkbox"]:disabled + .form__additions-label {
  opacity: 0.3;
}
.form__text-additions {
  display: inline-block;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .form__text-additions--milk {
    margin-right: 95px;
  }
}
@media (min-width: 1268px) {
  .form__text-additions--milk {
    margin-right: 0;
  }
}
.form__button {
  width: 280px;
  height: 40px;
  background-color: #68b738;
  font-family: "oswald", "helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
  border: none;
  text-transform: uppercase;
  color: white;
}
@media (min-width: 768px) {
  .form__button {
    height: 52px;
    margin-right: 65px;
  }
}
@media (min-width: 1268px) {
  .form__button {
    margin-right: 82px;
    width: 47%;
  }
}
.form-required {
  display: block;
  margin-top: 23px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}
@media (min-width: 768px) {
  .form-required {
    display: inline;
  }
}
.options {
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .options {
    margin-bottom: 40px;
  }
}
@media (min-width: 1268px) {
  .options {
    margin-top: 373px;
    margin-bottom: 45px;
  }
}
.options__item {
  position: relative;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}
.options__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .options__item {
    margin-bottom: 30px;
  }
}
@media (min-width: 1268px) {
  .options__item {
    max-width: 570px;
    min-height: 372px;
  }
  .options__item:last-child {
    margin-bottom: 30px;
  }
}
.options__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 1268px) {
  .options__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.options__link {
  position: relative;
  display: block;
  padding: 10px 0 22px 20px;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
}
.options__link::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 41%;
  width: 25px;
  height: 12px;
  background: url("../img/right-arrow-long-svg.png") no-repeat;
}
.options__link:active {
  color: rgba(17, 17, 17, 0.3);
}
@media (min-width: 768px) {
  .options__link {
    padding: 0 0 62px 53px;
    font-size: 20px;
    line-height: 1;
  }
  .options__link::before {
    top: 2%;
    left: 27%;
  }
}
@media (min-width: 1268px) {
  .options__link::before {
    top: 5%;
    left: 32%;
  }
}
.options__title {
  position: relative;
  margin: 0;
  margin-bottom: 32px;
  padding: 30px 30px 0 90px;
  font-size: 24px;
  line-height: 1.54;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}
.options__title::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}
.options__title--loose::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  background: url("../img/icon-cat-slim.svg") no-repeat center;
}
.options__title--gain::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 15px;
  width: 67px;
  height: 50px;
  background: url("../img/icon-cat-pro.svg") no-repeat center;
}
@media (min-width: 768px) {
  .options__title {
    margin-bottom: 25px;
    padding-top: 75px;
    padding-left: 55px;
    font-size: 36px;
    line-height: 1.03;
  }
  .options__title::before {
    top: 88px;
    left: auto;
    right: 50px;
    width: 200px;
    height: 200px;
  }
  .options__title--loose::after {
    top: 75px;
    left: auto;
    right: 80px;
    width: 141px;
    height: 194px;
  }
  .options__title--gain::after {
    top: 130px;
    left: auto;
    right: 20px;
    width: 268px;
    height: 113px;
  }
}
@media (min-width: 1268px) {
  .options__title {
    padding-left: 216px;
  }
  .options__title::before {
    top: 42px;
    right: 0;
    left: 50px;
    width: 100px;
    height: 100px;
  }
  .options__title--loose::after {
    top: 33px;
    right: 0;
    left: 60px;
    width: 71px;
    height: 97px;
  }
  .options__title--gain::after {
    top: 60px;
    left: 35px;
    right: 0;
    width: 134px;
    height: 57px;
  }
}
.options__description {
  margin: 0;
  margin-bottom: 23px;
  padding: 0 30px 0 21px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #444444;
  border-bottom: 1px solid #f2f2f2;
}
@media (min-width: 768px) {
  .options__description {
    margin-bottom: 55px;
    padding: 0 275px 0 55px;
    font-size: 16px;
    line-height: 1.5;
  }
  .options__description--gain {
    padding-right: 305px;
  }
}
@media (min-width: 1268px) {
  .options__description {
    margin: 35px 0 0 0;
    padding: 45px 52px 25px;
    font-size: 16px;
    line-height: 1.5;
  }
}
.others {
  margin-bottom: 25px;
  padding: 0  0 0 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 245px;
  min-height: 210px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}
@media (min-width: 768px) {
  .others {
    width: 324px;
    height: 431px;
    margin-top: 80px;
    padding: 0 60px;
  }
}
@media (min-width: 1268px) {
  .others {
    width: 245px;
    padding: 0 10px 0 35px;
  }
}
.others__title {
  position: relative;
  padding-top: 82px;
  margin-bottom: 10px;
  font-family: "Oswald", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}
.others__title::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 100px;
  width: 31px;
  height: 31px;
  background: url("../img/plus-mobile-svg.png") no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .others__title {
    margin-bottom: 25px;
    padding: 165px 25px 0;
    font-size: 20px;
    line-height: 1;
  }
}
@media (min-width: 1268px) {
  .others__title::before {
    top: 53px;
    left: 70px;
    width: 61px;
    height: 61px;
  }
}
.others__description {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.33;
}
@media (min-width: 768px) {
  .others__description {
    margin-bottom: 85px;
    font-size: 16px;
  }
}
.others__button {
  display: block;
  padding: 10px 0 10px 15px;
  font-family: "oswald", "helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  background-color: #f2f2f2;
}
.page-footer {
  font-family: "oswald", "helvetica", "Arial", sans-serif;
}
.page-footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1268px) {
  .page-footer__contact {
    display: none;
  }
}
.page-footer__contact p {
  margin: 0;
  margin-bottom: 26px;
  padding-top: 25px;
}
@media (min-width: 768px) {
  .page-footer__contact p {
    padding: 55px 0 20px 30px;
  }
}
.page-footer__slogan {
  max-width: 130px;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-footer__slogan {
    max-width: 160px;
    font-size: 20px;
  }
}
.page-footer__address {
  max-width: 140px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #444444;
}
@media (min-width: 768px) {
  .page-footer__address {
    font-size: 16px;
    text-align: right;
  }
}
.page-footer__wrapper {
  padding: 0 20px;
}
.page-footer__wrapper .index {
  background-color: white;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    padding: 0 41px;
  }
}
.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .page-footer__container {
    min-height: 130px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.page-footer__logo-image {
  margin-left: auto;
  margin-right: auto;
  padding-top: 36px;
  padding-bottom: 25px;
  text-align: center;
  cursor: pointer;
}
.page-footer__logo-image:hover,
.page-footer__logo-image:focus {
  opacity: 0.8;
}
.page-footer__logo-image:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .page-footer__logo-image {
    width: 128px;
    height: 24px;
    margin: 0;
    padding: 0;
  }
}
.page-footer__map-wrapper {
  position: relative;
}
.page-footer__map-wrapper::after {
  content: "";
  position: absolute;
  top: -235px;
  left: 43%;
  width: 55px;
  height: 53px;
  background: url("../img/map-pin.png") no-repeat 50%;
  background-size: contain;
}
@media (min-width: 768px) {
  .page-footer__map-wrapper::after {
    width: 113px;
    height: 106px;
  }
}
.page-footer__map-image {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .page-footer__map-image {
    min-width: 767px;
    height: 400px;
  }
}
.page-header {
  margin-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .page-header {
    margin-top: 24px;
    margin-bottom: 42px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1268px) {
  .page-header {
    margin-top: 54px;
    margin-bottom: 95px;
  }
}
.page-header__logo {
  margin-bottom: 10px;
  margin-right: 14%;
  cursor: pointer;
}
.page-header__logo:hover,
.page-header__logo:focus {
  opacity: 0.8;
}
.page-header__logo:active {
  opacity: 0.6;
}
@media (min-width: 1268px) {
  .page-header__logo {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .page-header__logo-image {
    width: 174px;
    height: 59px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1268px) {
  .page-header__logo-image {
    width: 203px;
  }
}
.header-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
@media (min-width: 768px) {
  .header-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1268px) {
  .header-nav {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    z-index: 2;
  }
}
.header-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .header-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}
@media (min-width: 1268px) {
  .header-nav__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header-nav__toggle {
  position: absolute;
  top: -45px;
  right: -10px;
  z-index: 2;
  display: block;
  width: 40px;
  height: 30px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.header-nav--closed::before {
  content: "";
  position: absolute;
  top: -40px;
  right: -1px;
  width: 24px;
  height: 18px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}
.header-nav--opened::before {
  content: "";
  position: absolute;
  top: -40px;
  right: -1px;
  width: 19px;
  height: 19px;
  background-image: url("../img/m-close-svg.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .header-nav__toggle {
    display: none;
  }
  .header-nav--closed::before,
  .header-nav--opened::before {
    display: none;
  }
}
/*@media (min-width: @desktop-width) {
  .header-nav__toggle {
    display: none;
  }

  .header-nav--closed::before,
  .header-nav--opened::before {
    display: none;
  }
}*/
@media (max-width: 767px) {
  .header-nav--closed .site-list__item {
    display: none;
  }
  .header-nav--closed .site-list__item--active {
    display: block;
  }
  .header-nav--closed .user-list__item {
    display: none;
  }
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.form-header {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .form-header {
    margin-bottom: 45px;
  }
}
@media (min-width: 1268px) {
  .form-header {
    margin-bottom: 60px;
  }
}
.header-catalog {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .header-catalog {
    margin-bottom: 45px;
  }
}
@media (min-width: 1268px) {
  .header-catalog {
    margin-bottom: 60px;
  }
}
.page-main {
  font-family: "oswald", "helvetica", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .page-main {
    text-align: left;
    color: #111111;
  }
}
.page-main__container {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .page-main__container {
    margin-bottom: 0;
  }
}
@media (min-width: 1268px) {
  .page-main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px;
  }
}
.page-main__description {
  width: 100%;
  min-height: 305px;
  margin-bottom: 135px;
  background: url("../img/index-background-mobile.jpg") no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .page-main__description {
    min-height: 0;
    margin-bottom: 20px;
    background: none;
    background-color: #ffffff;
  }
}
@media (min-width: 1268px) {
  .page-main__description {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 0;
  }
}
.page-main__title {
  max-width: 250px;
  margin: 0 auto 20px;
  padding: 29px 0 0;
  font-size: 36px;
  line-height: 1;
}
@media (min-width: 768px) {
  .page-main__title {
    max-width: 420px;
    margin: 0 0 40px;
    padding: 0;
    font-size: 60px;
    line-height: 1;
  }
}
.page-main__slogan {
  max-width: 200px;
  margin: 0 auto;
  padding: 0 60px 165px;
  font-size: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-main__slogan {
    max-width: 300px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1;
  }
}
.page-main__link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .page-main__button {
    position: absolute;
    top: 370px;
    margin-left: 118px;
    padding: 0;
  }
  .page-main__link {
    /*padding-top: 17px;
    padding-bottom: 15px;*/
    text-align: center;
    font-size: 20px;
    line-height: 1;
  }
}
@media (min-width: 1268px) {
  .page-main__button {
    top: 455px;
    margin-left: 200px;
  }
}
.page-main__logo-image {
  position: absolute;
  margin-top: -275px;
  margin-left: -140px;
}
@media (min-width: 768px) {
  .page-main__logo-image {
    position: relative;
    margin-top: 0;
    margin-left: 25px;
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1268px) {
  .page-main__logo-image {
    position: absolute;
    top: 142px;
    left: -180px;
    width: 552px;
    height: 499px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1268px) {
  .page-main__image-wrapper {
    position: absolute;
    z-index: 1;
    width: 50%;
    top: 0;
    left: 50%;
    min-height: 696px;
    background: url("../img/index-background-desktop@1x.jpg") no-repeat;
    background-size: cover;
  }
}
.sample {
  text-align: left;
  background-color: #f2f2f2;
  color: #111111;
  overflow: hidden;
}
@media (min-width: 768px) {
  .sample {
    background-color: white;
  }
}
@media (min-width: 1268px) {
  .sample {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #eaeaea;
  }
}
.sample__wrapper {
  margin: 0 auto;
}
.sample__title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 20px;
  font-size: 36px;
  line-height: 1.67;
  color: #111111;
}
@media (min-width: 768px) {
  .sample__title {
    margin-bottom: 65px;
    font-size: 60px;
    line-height: 1;
  }
  .sample__wrapper {
    margin-bottom: 20px;
  }
}
@media (min-width: 1268px) {
  .sample__title {
    margin-bottom: 66px;
  }
}
@media (min-width: 768px) {
  .sample__container {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1268px) {
  .sample__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #eaeaea;
  }
}
.sample__list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
  list-style: none;
}
@media (min-width: 768px) {
  .sample__list {
    min-width: 366px;
    /*margin-bottom: 250px;*/
  }
}
@media (min-width: 1268px) {
  .sample__list {
    margin-bottom: 20px;
  }
}
.sample__description {
  /*margin: 0;*/
  margin-bottom: 24px;
  /*padding: 0 10px 0 0;*/
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;
}
@media (min-width: 768px) {
  .sample__description {
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media (min-width: 1268px) {
  .sample__description {
    margin-bottom: 71px;
    padding: 76px 30px 0 0;
  }
}
.sample__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 124px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .sample__item {
    width: 162px;
  }
}
.sample__value {
  display: block;
  padding: 5px 0 15px;
  margin: 0;
  font-family: "oswald", "helvetica", "Arial", sans-serif;
  font-size: 24px;
}
@media (min-width: 768px) {
  .sample__value {
    padding-top: 15px;
    font-size: 30px;
    line-height: 1.23;
  }
}
.sample__field {
  content: "";
  margin-top: 45px;
  left: 22px;
  position: absolute;
  width: 80px;
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  background-color: #f2f2f2;
  text-align: center;
}
@media (min-width: 768px) {
  .sample__field {
    left: 0;
    margin-top: 60px;
    width: 160px;
    font-size: 14px;
    background-color: white;
  }
}
@media (min-width: 1268px) {
  .sample__field {
    background-color: inherit;
  }
}
.sample__costs {
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 1.43px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .sample__costs {
    margin: 0;
    padding: 0;
    /*padding-top: 20px;*/
    font-size: 20px;
    text-align: right;
  }
}
@media (min-width: 1268px) {
  .sample__costs {
    padding-top: 49px;
    padding-bottom: 75px;
    text-align: left;
  }
}
.sample__auxiliary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .sample__auxiliary {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 460px;
    margin-top: 196px;
    background-color: #eaeaea;
  }
}
@media (min-width: 1268px) {
  .sample__auxiliary {
    max-width: 636px;
    /* margin-top: 130px;*/
  }
}
.sample__wrapper {
  overflow: hidden;
}
@media (min-width: 768px) {
  .sample__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 636px;
    height: 517px;
  }
}
@media (min-width: 1268px) {
  .sample__wrapper {
    max-width: 430px;
  }
}
@media (min-width: 768px) {
  .sample__picture-wrapper {
    /*display: flex;
    flex-direction: column;*/
    top: 0;
    bottom: 0;
    width: 50%;
    height: 517px;
    overflow: hidden;
  }
  .sample__picture-wrapper--before {
    top: -190px;
    left: -10px;
    background-image: url("../img/before-tablet@1x.png") -webkit-gradient(linear, left top, left bottom, color-stop(33%, #ffffff), color-stop(33%, #eaeaea), to(#eaeaea));
    background-image: url("../img/before-tablet@1x.png") linear-gradient(to bottom, #ffffff 33%, #eaeaea 33%, #eaeaea 100%);
    background-position: -40px 6px, 0 0;
    z-index: 10;
  }
  .sample__picture-wrapper--after {
    top: -190px;
    right: 0;
    background-image: url("../img/after-tablet@1x.png") -webkit-gradient(linear, left top, left bottom, color-stop(33%, #ffffff), color-stop(33%, #eaeaea), to(#eaeaea));
    background-image: url("../img/after-tablet@1x.png") linear-gradient(to bottom, #ffffff 33%, #eaeaea 33%, #eaeaea 100%);
    background-position: -365px 6px, 0 0;
    z-index: 10;
  }
}
/*@media (min-width: @desktop-width) {
      width: 52.9%;
    }

    &--before {
      z-index: 2;
    }

    &--after {
      display: none;

      @media (min-width: @tablet-width) {
        display: block;        
        z-index: 1;
      }    
    }
}*/
.sample__picture-image {
  display: block;
  margin-bottom: 35px;
}
.sample__picture-image--after {
  display: none;
}
@media (min-width: 768px) {
  .sample__picture-image {
    position: relative;
    width: 690px;
    max-width: none;
    height: 517px;
  }
  .sample__picture-image--before {
    top: 0;
    left: -10px;
    z-index: 6;
  }
  .sample__picture-image--after {
    right: -5px;
    top: 0;
    z-index: 5;
  }
}
@media (min-width: 1268px) {
  .sample__picture-image {
    /*position: absolute;*/
    top: 1620px;
    left: 680px;
  }
}
.sample__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 35px;
  margin: 0 auto;
  width: 203px;
}
@media (min-width: 768px) {
  .sample__controls {
    padding-bottom: 81px;
    width: 78%;
    font-size: 20px;
  }
}
@media (min-width: 1268px) {
  .sample__controls {
    margin: 495px 0 0;
    padding-bottom: 65px;
    padding-left: 35px;
    width: 80%;
  }
}
.sample__controls-before {
  text-transform: uppercase;
  padding-left: 5px;
}
.sample__controls-after {
  padding-left: 5px;
  text-transform: uppercase;
}
.sample__controls-slider {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 84px;
  height: 14px;
  margin-top: 3px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}
.sample__controls-slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .sample__controls-slider {
    width: 428px;
    height: 6px;
  }
}
.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 1268px) {
  .site-list {
    padding-left: 55px;
  }
}
.site-list__item {
  font-family: "oswald", "helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}
@media (min-width: 768px) {
  .site-list__item {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.39;
    text-align: left;
    border: none;
  }
  --active {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1268px) {
  .site-list__item {
    font-size: 20px;
    line-height: 1.25px;
  }
}
.site-list__link {
  padding: 24px 0;
  display: block;
  color: #111111;
  text-decoration: none;
  text-transform: uppercase;
}
.site-list__link:focus,
.site-list__link:hover {
  opacity: 0.6;
}
.site-list__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .site-list__link {
    padding: 21px 0 5px;
  }
  .site-list__link--active {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1268px) {
  .site-list__link {
    padding: 15px 0 19px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    color: #ffffff;
  }
  .site-list__link--active {
    border-bottom: 2px solid #ffffff;
  }
  .form .site-list__link,
  .catalog .site-list__link {
    color: #111111;
  }
  .form .site-list__link--active,
  .catalog .site-list__link--active {
    color: #111111;
    border-bottom: 2px solid #68b738;
  }
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 22px 82px 21px 73px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  list-style: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media (min-width: 768px) {
  .social {
    min-width: 124px;
    border: none;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.social__button {
  display: block;
}
.social__button--vk {
  width: 22px;
  height: 12px;
  background-image: url("../img/icon-vk-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .social__button--vk {
    width: 30px;
    height: 16px;
  }
}
.social__button--fb {
  width: 10px;
  height: 19px;
  background-image: url("../img/icon-fb-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .social__button--fb {
    width: 14px;
    height: 28px;
  }
}
.social__button--insta {
  width: 17px;
  height: 17px;
  background-image: url("../img/icon-insta-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .social__button--insta {
    width: 23px;
    height: 23px;
  }
}

/*# sourceMappingURL=style.css.map */
